.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: black;
    color: white;
    text-align: center;
}

.input::placeholder {
    color: white;
}
/* .subtitle {
    white-space: nowrap;
} */

/* .hero-text {
     font-size: 3rem;
    white-space: normal;
} */

@media (max-width: 672px) {
	:root {
		font-size: 90%;
	}
}

/* Search section */
.search {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Scroll cue start */

.header-down-arrow {
  position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
  text-align: center;
  z-index: 10;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 1s .5s ease-out forwards,
    pulse 2s 1.5s ease-out infinite;
  opacity: 0;
}

/* Scroll cue end */
